/*---------------------------------------
  MediaScreen sizes

// Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px


-----------------------------------------*/





/*---------------------------------------
    body
-----------------------------------------*/

body {
    position: relative;
}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

.container {
padding : 200px 10% ;
width:100%;
background-color: #F8FBFF;
}

@media screen and (max-width: 576px) {
  .container {
  padding : 200px 2% ;
  }
  }

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*---------------------------------------
    Typography
-----------------------------------------*/

body {
    background: #ffffff;
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 300;
  }

h1{
  font-family: 'Cinzel';
  font-size: 300%;
  text-align: center;
  text-decoration: none;
  color: black;
}

p {
  font-size: 100%;
  text-align: justify;
  color: black;
}

/*---------------------------------------
    Loader
-----------------------------------------*/

.loader-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #212129;
}

.loader {
position: absolute;
top: 50%;
left: 50%;
width: 80px;
height: 80px;
transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
animation: loader 2s infinite ease-in-out;
color:blue;
}

.loader span {
position: absolute;
display: block;
width: 40px;
height: 40px;
background-color: #a66f7e;
animation: loaderBlock 2s infinite ease-in-out both;
}

.loader span:nth-child(1) {
top: 0;
left: 0;
}

.loader span:nth-child(2) {
top: 0;
right: 0;
animation: loaderBlockInverse 2s infinite ease-in-out both;
}

.loader span:nth-child(3) {
bottom: 0;
left: 0;
animation: loaderBlockInverse 2s infinite ease-in-out both;
}

.loader span:nth-child(4) {
bottom: 0;
right: 0;
}

@keyframes loader {
0%, 10%, 100% {
width: 80px;
height: 80px;
}

65% {
width: 150px;
height: 150px;
}
}

@keyframes loaderBlock {
0%, 30% {
transform: rotate(0);
}
55% {
background-color: #fdc2c2;
}
100% {
transform: rotate(90deg);
}
}

@keyframes loaderBlockInverse {
0%, 20% {
transform: rotate(0);
}
55% {
background-color: #f1efeb;
}
100% {
transform: rotate(-90deg);
}
}


/*---------------------------------------
    Navigation
-----------------------------------------*/

.logo {
      position: fixed;
      float: left;
      margin: 10px 20px;
}

.logo:hover{
animation-name: logo-roll;
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes logo-roll {
  0%   { transform: rotate(0deg); opacity: 1;}
  50%  {transform: rotate(180deg);opacity: 0.6;}
  100% {transform: rotate(360deg);opacity: 1;}
}

#nav-circle-wrapper{
 height: 60px;
 width: 60px;
 border-radius: 30px;
 background-color: rgba(0, 0, 0, 0.6);
 left:50%;
 display: flex;
 align-items: center;
 justify-content: center;
 border: solid 0.5px white;
}

nav h1 {
 color: #D3D7DA;
 font-family: 'Cinzel';
 font-size: 100%;
 text-align: center;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 50px;
      z-index: 9998;
}

nav ul {
      line-height: 50px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: rgba(0, 0, 0, 0.7);
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

nav ul li a:hover {
      text-decoration: none;
      color: #D3D7DA;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}





@media(max-width: 786px) {




      .logo {
            position: fixed;
            top: 0;
            margin-top: 25px;
      }


      nav i {
      font-size: 400%;
      color: #D3D7DA;
      margin: 10px 10px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

/*---------------------------------------
    Home Section
-----------------------------------------*/

#home {
  height: 100vh;
  width:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}


 #home-circle-wrapper{
  height: 400px;
  width: 400px;
  border-radius: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  left:50%;

  display: flex;
  align-items: center;
  justify-content: center;

}

#home h1 {
  color: #D3D7DA;
  font-family: 'Cinzel';
  font-size: 400%;
  text-align: center;
}

#welcome_text {
  text-align: center;
  color: #BEC2C4;
  font-size: 250%;
  font-family: 'Arvo';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*---------------------------------------
    About Me Section
-----------------------------------------*/

#about-me {
  text-align: justify;
  background-color: #F8FBFF;
  position: relative;

}


#about-me img {
  width: 400px;
  height: 400px;
}

#about-me img:hover{
  transition:  2s;
  transform: rotateY(360deg);
  width: 600px;
  height: 600px;
}

#about-me img:not(:hover){
  transition:  2s;
  transform: rotateY(-360deg);
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 576px) {
  #about-me img {
    width: 300px;
    height: 300px;
  }
  }

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.content {
  height: 100%;
  padding: 10px;
}

#content-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.quote {
  font-size: 150%;
  font-family: 'Noto Serif SC', serif;
  padding:30px;
  border: solid 5px ;
  margin: 20px 0;

}
/*---------------------------------------
    Education Section
-----------------------------------------*/

#education{
  left:0;
  top:0;
  width:100%;
  background-image: url("../img/education3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


#education-wrapper{
  top: 0;
  left: 50%;
  height: 100%;
  width:40%;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  padding: 150px 100px 150px 100px;
}

@media screen and (max-width: 1200px) {
  #education-wrapper{
    left: 30%;
    width:60%;
    padding: 150px 70px 150px 70px;
  }
}


@media screen and (max-width: 768px) {
  #education-wrapper{
    left: 10%;
    width:80%;
    padding: 100px 50px 100px 50px;
  }
}

@media screen and (max-width: 576px) {
  #education-wrapper{
    left: 5%;
    width:90%;
    padding: 100px 20px 100px 20px;
  }
}

/*---------------------------------------
    Tecchnologies Section
-----------------------------------------*/

#technologies .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#technologies .element{
  padding: 20px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #e6e6e6;
  color: black;
  z-index: 2;
}

.flip-card-front img{
  position: relative;
top: 50px;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
  padding:20px;
  background-color: #e6e6e6;
  border: solid 15px;
}
