/*---------------------------------------
  MediaScreen sizes

// Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px


-----------------------------------------*/





/*---------------------------------------
    body
-----------------------------------------*/

body {
    position: relative;
}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

.container {
padding : 50px 0% ;
width:100%;
background-color: #F8FBFF;
}

@media screen and (max-width: 576px) {
  .container {
  padding : 200px 2% ;
  }
  }

h1 {
padding:25px;
  width:100%;
}

.row{
  width: 100%;
  padding: 0px 10px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle !important;
  
  float: none;
}

.col-centered{
  float: none;
  margin: 0 auto !important;
  }

/*---------------------------------------
    Typography
-----------------------------------------*/

body {
    background: #ffffff;
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 300;
  }

h1{
  font-family: 'Anton', sans-serif;
  font-family: 'Special Elite', cursive;
  font-size: 300%;
  text-align: center;
  text-decoration: none;
  color: black;
}

h4{
  font-family: 'Special Elite', cursive;
}

p {
  font-size: 18px;
  text-align: justify;
  color: black;
  font-family: 'Special Elite', cursive;
}

a {
  font-size: 100%;
  text-align: justify;
  color: black;
  font-family: 'Special Elite', cursive;
}

/*---------------------------------------
    Loader
-----------------------------------------*/

.loader-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #212129;
}

.loader {
position: absolute;
top: 50%;
left: 50%;
width: 80px;
height: 80px;
transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
animation: loader 2s infinite ease-in-out;
color:blue;
}

.loader span {
position: absolute;
display: block;
width: 40px;
height: 40px;
background-color: #a66f7e;
animation: loaderBlock 2s infinite ease-in-out both;
}

.loader span:nth-child(1) {
top: 0;
left: 0;
}

.loader span:nth-child(2) {
top: 0;
right: 0;
animation: loaderBlockInverse 2s infinite ease-in-out both;
}

.loader span:nth-child(3) {
bottom: 0;
left: 0;
animation: loaderBlockInverse 2s infinite ease-in-out both;
}

.loader span:nth-child(4) {
bottom: 0;
right: 0;
}

@keyframes loader {
0%, 10%, 100% {
width: 80px;
height: 80px;
}

65% {
width: 150px;
height: 150px;
}
}

@keyframes loaderBlock {
0%, 30% {
transform: rotate(0);
}
55% {
background-color: #fdc2c2;
}
100% {
transform: rotate(90deg);
}
}

@keyframes loaderBlockInverse {
0%, 20% {
transform: rotate(0);
}
55% {
background-color: #f1efeb;
}
100% {
transform: rotate(-90deg);
}
}


/*---------------------------------------
    Navigation
-----------------------------------------*/

.logo {
      position: fixed;
      float: left;
      margin: 10px 20px;
      text-decoration: none;
}

.logo:hover{
animation-name: logo-roll;
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes logo-roll {
  0%   { transform: rotate(0deg); opacity: 1;}
  50%  {transform: rotate(180deg);opacity: 0.6;}
  100% {transform: rotate(360deg);opacity: 1;}
}

#nav-circle-wrapper{
 height: 60px;
 width: 60px;
 border-radius: 30px;
 background-color: rgba(0, 255, 204,0.8);
 left:50%;
 display: flex;
 align-items: center;
 justify-content: center;
 text-decoration: none;
}

nav h1 {
 font-size: 100%;
 text-align: center;
 text-decoration: none;
 color:white;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 50px;
      z-index: 9998;
}

nav ul {
      line-height: 50px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: rgba(0, 0, 0, 0.8);
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

nav ul li a:hover {
      text-decoration: none;
      color: #D3D7DA;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
      
}



@media(max-width: 786px) {




      .logo {
            position: fixed;
            top: 0;
            margin-top: 25px;
      }


      nav i {
      font-size: 400%;
      color: #D3D7DA;
      margin: 10px 10px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

/*---------------------------------------
    Home Section
-----------------------------------------*/

#home {
  height: 100vh;
  width:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

#home .row{
  height:100px;
  width:100%;
}


 #home-circle-wrapper{
  height: 400px;
  width: 400px;
  border-radius: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 255, 204,0.8);
  left:50%;

  display: flex;
  align-items: center;
  justify-content: center;

}

#home h1 {
  color: #D3D7DA;
  /*font-family: 'Cinzel';*/
  font-size: 400%;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  -webkit-text-stroke: 0.3px black;

}

#welcome_text {
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 250%;
  font-family: 'Satisfy', cursive;
}


/*---------------------------------------
    About Me Section
-----------------------------------------*/

#about-me {
  min-height:100vh;
  text-align: justify;
  background-color: #F8FBFF;
  position: relative;
}

.text-block{
  padding:50px;
}

#about-me .col-lg-6{
  justify-content: center;
  text-align: center;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

blockquote{
 /* border-left:none;
  margin: 20px;*/
}

.quote-badge{
  background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
  overflow: hidden;
  /*margin-top: 25px;
  padding-top: -100px;*/
  border-radius: 17px;
  background-color: rgba(0, 255, 204,0.8);
  color:white;
  width: 80%;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
 /* top:50%;
  left:50%;*/
  
}

.quotation-mark{
  
  margin-top: -10px;
  font-weight: bold;
  font-size:100px;
  color:white;
  font-family: "Times New Roman", Georgia, Serif;
  
}

.quote-text{
  font-size: 250%;
  margin-top: -65px;
  font-family: 'Satisfy', cursive;
  color:white;
}


/*---------------------------------------
    Timeline Section
-----------------------------------------*/
#timeline-section{
  left:0;
  top:0;
  width:100%;
  background-image: url("../img/monstera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; 
}

#timeline-section .item{
  position: relative;
  left: 15px;
  top: -50px;
}


#timeline-section h1{
color:white;
}

#timeline-section img{
  width:100%;
  border-radius: 17px;
}

#timeline-section .title{
  background-color: rgba(0, 255, 204, 0.8) !important
}

#timeline-section .caption{
  border-radius: 17px;
  transition-duration: 1s;
  transform: scale(1);
}

#timeline-section .caption:hover{
  transition-duration: 1s;
  transform: scale(1.1);
}


/*---------------------------------------
    Technologies Section
-----------------------------------------*/

#technologies .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#technologies .element{
  padding: 30px;
}

#technologies p{
  font-size: 100%;
}

#technologies h1{
    margin-top: 30px;
    margin-bottom: 30px;
}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  border-radius: 17px;
}

.flip-card img{
  width:300px;
  height:300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 17px;
}

.flip-card:hover .flip-card-inner {
  transition-duration: 1s;
  transform: rotateY(180deg);
}

.flip-card .flip-card-inner {
  transition-duration: 1s;
  transform: rotateY(360deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 17px;
}

.flip-card-front {
  background-color: #e6e6e6;
  color: black;
  z-index: 2;
  border-radius: 17px;
}

.flip-card-front img{
  position: relative;
top: 50px;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
  padding:20px;
  background-color: #e6e6e6;
  border: solid 15px;
  border-radius: 17px;
}


/*---------------------------------------
    Projects Section
-----------------------------------------*/

#projects{
  left:0;
  top:0;
  width:100%;
  min-height: 100%;
  position: relative;
  background-color:   #585858;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%; 
}

#content {
  position: absolute;
  bottom: 0px;
  color: #f1f1f1;
  width: 100%;
  z-index: 1000;
  text-align: center;
  min-height: 100%;
}

#content h1{
  display: inline;
}

@media (max-width: 1700px) {

  #myVideo {
      display: none;
  }

   #myBtn {
    visibility: hidden;
}

  #content{
    position: relative
  }

  #content h1{
    display: inline-block;
  }

}

#myBtn {
  position: absolute;
  top:10px;
  right:10px;
  display: flex;
  font-size: 18px;
  padding: 10px;
  background:black;
  color:white; 
  cursor: pointer;
  margin:10px;

}

#myBtn:hover {
  background: #ddd;
  color: black;
}


/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgba(255, 255, 255, 0.5));
  padding: 0px 10px;
  border-radius: 10px;
  line-height: 1.2;
}

#content p{
font-size: 16px ;
}

.content img{
  border-radius: 17px;
  transition-duration: 1s;
  transform: scale(1);
}

.content img:hover{
  transition-duration: 1s;
  transform: scale(1.1);
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

#myBtnContainer{
  position: relative;
  text-align: left
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px;
  margin-left:10px;
  background-color: rgba(0, 255, 204,0.7);
  cursor: pointer;
  color:white;
  font-family: 'Special Elite', cursive;
}

.btn:hover {
  background-color: rgba(0, 255, 204,1);
  color:white;
}

.btn.active {
  background-color:#068481;
  color: white;
}



/*---------------------------------------
    Footer
-----------------------------------------*/

footer {
  width: 100%;
  background-color: #313131;
  align-content: center;
}

footer p {
  text-align: center;
  color: #fff;
  font-weight: 200;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 33px;
  letter-spacing: 0.5px;
}

footer a {
  color: #aaa;
  text-decoration: none;
  transition: transform .5s;
}

footer p:hover {
  text-decoration: none;
  color: #aaa;
  transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2);
  transition: all 0.5s ease-in-out 0.2s;
}

footer a:hover {
  text-decoration: none;
  color: white;
}